<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Raspi cam viewer</title>
	</head>
	<body>
		<center>
			<h1>Raspi cam viewer</h1>
	    	{{{body}}}
	    </center>
	</body>
</html>