{{#each devices}}
	{{#if this.is_online}}
		{{#if this.is_web_accessible}}
			<h2>{{this.location}}</h2>
			<iframe scrolling="no" frameBorder="0" width="534" height="300" src="https://{{this.uuid}}.resindevice.io/html/"></iframe>
		{{/if}}
	{{/if}}
{{/each}}
